# Riesgo de incumplimiento crediticio de la vivienda

## Librerias

In [1]:
import pandas as pd
from herramientas import obtener_resumen_valores_unicos

## Carga de datos

In [2]:
application_test = pd.read_csv('/home/bbchanchis/metadata/home_credit/data/application_test.csv')
application_train = pd.read_csv('/home/bbchanchis/metadata/home_credit/data/application_train.csv')
burea_balance = pd.read_csv('data/bureau_balance.csv')
bureau = pd.read_csv('data/bureau.csv')
credit_card_balance = pd.read_csv('data/credit_card_balance.csv')
HomeCredit = pd.read_csv('data/HomeCredit_columns_description.csv', encoding='ISO-8859-1')
installments_payment = pd.read_csv('data/installments_payments.csv')
pos_cash_balance = pd.read_csv('data/POS_CASH_balance.csv')
previous_application = pd.read_csv('data/previous_application.csv')

## Visualización de los df

In [3]:
pd.set_option('display.max_rows', None)

In [4]:
obtener_resumen_valores_unicos(application_test)

,Columna,Tipo de Dato,Valores Únicos,Total Valores,Valores Nulos
0,SK_ID_CURR,int64,48744,48744,0
1,NAME_CONTRACT_TYPE,object,2,48744,0
2,CODE_GENDER,object,2,48744,0
3,FLAG_OWN_CAR,object,2,48744,0
4,FLAG_OWN_REALTY,object,2,48744,0
5,CNT_CHILDREN,int64,11,48744,0
6,AMT_INCOME_TOTAL,float64,606,48744,0
7,AMT_CREDIT,float64,2937,48744,0
8,AMT_ANNUITY,float64,7491,48720,24
9,AMT_GOODS_PRICE,float64,677,48744,0
10,NAME_TYPE_SUITE,object,7,47833,911
11,NAME_INCOME_TYPE,object,7,48744,0
12,NAME_EDUCATION_TYPE,object,5,48744,0
13,NAME_FAMILY_STATUS,object,5,48744,0
14,NAME_HOUSING_TYPE,object,6,48744,0
15,REGION_POPULATION_RELATIVE,float64,81,48744,0
16,DAYS_BIRTH,int64,15477,48744,0
17,DAYS_EMPLOYED,int64,7863,48744,0
18,DAYS_REGISTRATION,float64,12618,48744,0
19,DAYS_ID_PUBLISH,int64,5880,48744,0
20,OWN_CAR_AGE,float64,52,16432,32312
21,FLAG_MOBIL,int64,2,48744,0
22,FLAG_EMP_PHONE,int64,2,48744,0
23,FLAG_WORK_PHONE,int64,2,48744,0
24,FLAG_CONT_MOBILE,int64,2,48744,0
25,FLAG_PHONE,int64,2,48744,0
26,FLAG_EMAIL,int64,2,48744,0
27,OCCUPATION_TYPE,object,18,33139,15605
28,CNT_FAM_MEMBERS,float64,12,48744,0
29,REGION_RATING_CLIENT,int64,3,48744,0
30,REGION_RATING_CLIENT_W_CITY,int64,4,48744,0
31,WEEKDAY_APPR_PROCESS_START,object,7,48744,0
32,HOUR_APPR_PROCESS_START,int64,24,48744,0
33,REG_REGION_NOT_LIVE_REGION,int64,2,48744,0
34,REG_REGION_NOT_WORK_REGION,int64,2,48744,0
35,LIVE_REGION_NOT_WORK_REGION,int64,2,48744,0
36,REG_CITY_NOT_LIVE_CITY,int64,2,48744,0
37,REG_CITY_NOT_WORK_CITY,int64,2,48744,0
38,LIVE_CITY_NOT_WORK_CITY,int64,2,48744,0
39,ORGANIZATION_TYPE,object,58,48744,0
40,EXT_SOURCE_1,float64,27207,28212,20532
41,EXT_SOURCE_2,float64,38885,48736,8
42,EXT_SOURCE_3,float64,702,40076,8668
43,APARTMENTS_AVG,float64,1543,24857,23887
44,BASEMENTAREA_AVG,float64,2816,21103,27641
45,YEARS_BEGINEXPLUATATION_AVG,float64,175,25888,22856
46,YEARS_BUILD_AVG,float64,130,16926,31818
47,COMMONAREA_AVG,float64,2042,15249,33495
48,ELEVATORS_AVG,float64,181,23555,25189
49,ENTRANCES_AVG,float64,200,25165,23579
50,FLOORSMAX_AVG,float64,252,25423,23321
51,FLOORSMIN_AVG,float64,198,16278,32466
52,LANDAREA_AVG,float64,2540,20490,28254
53,LIVINGAPARTMENTS_AVG,float64,1211,15964,32780
54,LIVINGAREA_AVG,float64,3848,25192,23552
55,NONLIVINGAPARTMENTS_AVG,float64,241,15397,33347
56,NONLIVINGAREA_AVG,float64,2026,22660,26084
57,APARTMENTS_MODE,float64,636,24857,23887
58,BASEMENTAREA_MODE,float64,2835,21103,27641
59,YEARS_BEGINEXPLUATATION_MODE,float64,160,25888,22856
60,YEARS_BUILD_MODE,float64,132,16926,31818
61,COMMONAREA_MODE,float64,2001,15249,33495
62,ELEVATORS_MODE,float64,26,23555,25189
63,ENTRANCES_MODE,float64,30,25165,23579
64,FLOORSMAX_MODE,float64,25,25423,23321
65,FLOORSMIN_MODE,float64,25,16278,32466
66,LANDAREA_MODE,float64,2560,20490,28254
67,LIVINGAPARTMENTS_MODE,float64,602,15964,32780
68,LIVINGAREA_MODE,float64,3842,25192,23552
69,NONLIVINGAPARTMENTS_MODE,float64,106,15397,33347
70,NONLIVINGAREA_MODE,float64,2025,22660,26084
71,APARTMENTS_MEDI,float64,918,24857,23887
72,BASEMENTAREA_MEDI,float64,2805,21103,27641
73,YEARS_BEGINEXPLUATATION_MEDI,float64,169,25888,22856
74,YEARS_BUILD_MEDI,float64,129,16926,31818
75,COMMONAREA_MEDI,float64,2034,15249,33495
76,ELEVATORS_MEDI,float64,43,23555,25189
77,ENTRANCES_MEDI,float64,43,25165,23579
78,FLOORSMAX_MEDI,float64,47,25423,23321
79,FLOORSMIN_MEDI,float64,44,16278,32466
80,LANDAREA_MEDI,float64,2562,20490,28254
81,LIVINGAPARTMENTS_MEDI,float64,843,15964,32780
82,LIVINGAREA_MEDI,float64,3885,25192,23552
83,NONLIVINGAPARTMENTS_MEDI,float64,134,15397,33347
84,NONLIVINGAREA_MEDI,float64,2030,22660,26084
85,FONDKAPREMONT_MODE,object,4,15947,32797
86,HOUSETYPE_MODE,object,3,25125,23619
87,TOTALAREA_MODE,float64,3820,26120,22624
88,WALLSMATERIAL_MODE,object,7,24851,23893
89,EMERGENCYSTATE_MODE,object,2,26535,22209
90,OBS_30_CNT_SOCIAL_CIRCLE,float64,28,48715,29
91,DEF_30_CNT_SOCIAL_CIRCLE,float64,8,48715,29
92,OBS_60_CNT_SOCIAL_CIRCLE,float64,27,48715,29
93,DEF_60_CNT_SOCIAL_CIRCLE,float64,7,48715,29
94,DAYS_LAST_PHONE_CHANGE,float64,3579,48744,0
95,FLAG_DOCUMENT_2,int64,1,48744,0
96,FLAG_DOCUMENT_3,int64,2,48744,0
97,FLAG_DOCUMENT_4,int64,2,48744,0
98,FLAG_DOCUMENT_5,int64,2,48744,0
99,FLAG_DOCUMENT_6,int64,2,48744,0
100,FLAG_DOCUMENT_7,int64,2,48744,0
101,FLAG_DOCUMENT_8,int64,2,48744,0
102,FLAG_DOCUMENT_9,int64,2,48744,0
103,FLAG_DOCUMENT_10,int64,1,48744,0
104,FLAG_DOCUMENT_11,int64,2,48744,0
105,FLAG_DOCUMENT_12,int64,1,48744,0
106,FLAG_DOCUMENT_13,int64,1,48744,0
107,FLAG_DOCUMENT_14,int64,1,48744,0
108,FLAG_DOCUMENT_15,int64,1,48744,0
109,FLAG_DOCUMENT_16,int64,1,48744,0
110,FLAG_DOCUMENT_17,int64,1,48744,0
111,FLAG_DOCUMENT_18,int64,2,48744,0
112,FLAG_DOCUMENT_19,int64,1,48744,0
113,FLAG_DOCUMENT_20,int64,1,48744,0
114,FLAG_DOCUMENT_21,int64,1,48744,0
115,AMT_REQ_CREDIT_BUREAU_HOUR,float64,3,42695,6049
116,AMT_REQ_CREDIT_BUREAU_DAY,float64,3,42695,6049
117,AMT_REQ_CREDIT_BUREAU_WEEK,float64,3,42695,6049
118,AMT_REQ_CREDIT_BUREAU_MON,float64,7,42695,6049
119,AMT_REQ_CREDIT_BUREAU_QRT,float64,8,42695,6049
120,AMT_REQ_CREDIT_BUREAU_YEAR,float64,16,42695,6049

In [6]:
obtener_resumen_valores_unicos(application_train)

,Columna,Tipo de Dato,Valores Únicos,Total Valores,Valores Nulos
0,SK_ID_CURR,int64,307511,307511,0
1,TARGET,int64,2,307511,0
2,NAME_CONTRACT_TYPE,object,2,307511,0
3,CODE_GENDER,object,3,307511,0
4,FLAG_OWN_CAR,object,2,307511,0
5,FLAG_OWN_REALTY,object,2,307511,0
6,CNT_CHILDREN,int64,15,307511,0
7,AMT_INCOME_TOTAL,float64,2548,307511,0
8,AMT_CREDIT,float64,5603,307511,0
9,AMT_ANNUITY,float64,13672,307499,12
10,AMT_GOODS_PRICE,float64,1002,307233,278
11,NAME_TYPE_SUITE,object,7,306219,1292
12,NAME_INCOME_TYPE,object,8,307511,0
13,NAME_EDUCATION_TYPE,object,5,307511,0
14,NAME_FAMILY_STATUS,object,6,307511,0
15,NAME_HOUSING_TYPE,object,6,307511,0
16,REGION_POPULATION_RELATIVE,float64,81,307511,0
17,DAYS_BIRTH,int64,17460,307511,0
18,DAYS_EMPLOYED,int64,12574,307511,0
19,DAYS_REGISTRATION,float64,15688,307511,0
20,DAYS_ID_PUBLISH,int64,6168,307511,0
21,OWN_CAR_AGE,float64,62,104582,202929
22,FLAG_MOBIL,int64,2,307511,0
23,FLAG_EMP_PHONE,int64,2,307511,0
24,FLAG_WORK_PHONE,int64,2,307511,0
25,FLAG_CONT_MOBILE,int64,2,307511,0
26,FLAG_PHONE,int64,2,307511,0
27,FLAG_EMAIL,int64,2,307511,0
28,OCCUPATION_TYPE,object,18,211120,96391
29,CNT_FAM_MEMBERS,float64,17,307509,2
30,REGION_RATING_CLIENT,int64,3,307511,0
31,REGION_RATING_CLIENT_W_CITY,int64,3,307511,0
32,WEEKDAY_APPR_PROCESS_START,object,7,307511,0
33,HOUR_APPR_PROCESS_START,int64,24,307511,0
34,REG_REGION_NOT_LIVE_REGION,int64,2,307511,0
35,REG_REGION_NOT_WORK_REGION,int64,2,307511,0
36,LIVE_REGION_NOT_WORK_REGION,int64,2,307511,0
37,REG_CITY_NOT_LIVE_CITY,int64,2,307511,0
38,REG_CITY_NOT_WORK_CITY,int64,2,307511,0
39,LIVE_CITY_NOT_WORK_CITY,int64,2,307511,0
40,ORGANIZATION_TYPE,object,58,307511,0
41,EXT_SOURCE_1,float64,114584,134133,173378
42,EXT_SOURCE_2,float64,119831,306851,660
43,EXT_SOURCE_3,float64,814,246546,60965
44,APARTMENTS_AVG,float64,2339,151450,156061
45,BASEMENTAREA_AVG,float64,3780,127568,179943
46,YEARS_BEGINEXPLUATATION_AVG,float64,285,157504,150007
47,YEARS_BUILD_AVG,float64,149,103023,204488
48,COMMONAREA_AVG,float64,3181,92646,214865
49,ELEVATORS_AVG,float64,257,143620,163891
50,ENTRANCES_AVG,float64,285,152683,154828
51,FLOORSMAX_AVG,float64,403,154491,153020
52,FLOORSMIN_AVG,float64,305,98869,208642
53,LANDAREA_AVG,float64,3527,124921,182590
54,LIVINGAPARTMENTS_AVG,float64,1868,97312,210199
55,LIVINGAREA_AVG,float64,5199,153161,154350
56,NONLIVINGAPARTMENTS_AVG,float64,386,93997,213514
57,NONLIVINGAREA_AVG,float64,3290,137829,169682
58,APARTMENTS_MODE,float64,760,151450,156061
59,BASEMENTAREA_MODE,float64,3841,127568,179943
60,YEARS_BEGINEXPLUATATION_MODE,float64,221,157504,150007
61,YEARS_BUILD_MODE,float64,154,103023,204488
62,COMMONAREA_MODE,float64,3128,92646,214865
63,ELEVATORS_MODE,float64,26,143620,163891
64,ENTRANCES_MODE,float64,30,152683,154828
65,FLOORSMAX_MODE,float64,25,154491,153020
66,FLOORSMIN_MODE,float64,25,98869,208642
67,LANDAREA_MODE,float64,3563,124921,182590
68,LIVINGAPARTMENTS_MODE,float64,736,97312,210199
69,LIVINGAREA_MODE,float64,5301,153161,154350
70,NONLIVINGAPARTMENTS_MODE,float64,167,93997,213514
71,NONLIVINGAREA_MODE,float64,3327,137829,169682
72,APARTMENTS_MEDI,float64,1148,151450,156061
73,BASEMENTAREA_MEDI,float64,3772,127568,179943
74,YEARS_BEGINEXPLUATATION_MEDI,float64,245,157504,150007
75,YEARS_BUILD_MEDI,float64,151,103023,204488
76,COMMONAREA_MEDI,float64,3202,92646,214865
77,ELEVATORS_MEDI,float64,46,143620,163891
78,ENTRANCES_MEDI,float64,46,152683,154828
79,FLOORSMAX_MEDI,float64,49,154491,153020
80,FLOORSMIN_MEDI,float64,47,98869,208642
81,LANDAREA_MEDI,float64,3560,124921,182590
82,LIVINGAPARTMENTS_MEDI,float64,1097,97312,210199
83,LIVINGAREA_MEDI,float64,5281,153161,154350
84,NONLIVINGAPARTMENTS_MEDI,float64,214,93997,213514
85,NONLIVINGAREA_MEDI,float64,3323,137829,169682
86,FONDKAPREMONT_MODE,object,4,97216,210295
87,HOUSETYPE_MODE,object,3,153214,154297
88,TOTALAREA_MODE,float64,5116,159080,148431
89,WALLSMATERIAL_MODE,object,7,151170,156341
90,EMERGENCYSTATE_MODE,object,2,161756,145755
91,OBS_30_CNT_SOCIAL_CIRCLE,float64,33,306490,1021
92,DEF_30_CNT_SOCIAL_CIRCLE,float64,10,306490,1021
93,OBS_60_CNT_SOCIAL_CIRCLE,float64,33,306490,1021
94,DEF_60_CNT_SOCIAL_CIRCLE,float64,9,306490,1021
95,DAYS_LAST_PHONE_CHANGE,float64,3773,307510,1
96,FLAG_DOCUMENT_2,int64,2,307511,0
97,FLAG_DOCUMENT_3,int64,2,307511,0
98,FLAG_DOCUMENT_4,int64,2,307511,0
99,FLAG_DOCUMENT_5,int64,2,307511,0
100,FLAG_DOCUMENT_6,int64,2,307511,0
101,FLAG_DOCUMENT_7,int64,2,307511,0
102,FLAG_DOCUMENT_8,int64,2,307511,0
103,FLAG_DOCUMENT_9,int64,2,307511,0
104,FLAG_DOCUMENT_10,int64,2,307511,0
105,FLAG_DOCUMENT_11,int64,2,307511,0
106,FLAG_DOCUMENT_12,int64,2,307511,0
107,FLAG_DOCUMENT_13,int64,2,307511,0
108,FLAG_DOCUMENT_14,int64,2,307511,0
109,FLAG_DOCUMENT_15,int64,2,307511,0
110,FLAG_DOCUMENT_16,int64,2,307511,0
111,FLAG_DOCUMENT_17,int64,2,307511,0
112,FLAG_DOCUMENT_18,int64,2,307511,0
113,FLAG_DOCUMENT_19,int64,2,307511,0
114,FLAG_DOCUMENT_20,int64,2,307511,0
115,FLAG_DOCUMENT_21,int64,2,307511,0
116,AMT_REQ_CREDIT_BUREAU_HOUR,float64,5,265992,41519
117,AMT_REQ_CREDIT_BUREAU_DAY,float64,9,265992,41519
118,AMT_REQ_CREDIT_BUREAU_WEEK,float64,9,265992,41519
119,AMT_REQ_CREDIT_BUREAU_MON,float64,24,265992,41519
120,AMT_REQ_CREDIT_BUREAU_QRT,float64,11,265992,41519
121,AMT_REQ_CREDIT_BUREAU_YEAR,float64,25,265992,41519

In [7]:
obtener_resumen_valores_unicos(burea_balance)

          Columna Tipo de Dato  Valores Únicos  Total Valores  Valores Nulos
0    SK_ID_BUREAU        int64          817395       27299925              0
1  MONTHS_BALANCE        int64              97       27299925              0
2          STATUS       object               8       27299925              0

In [8]:
obtener_resumen_valores_unicos(bureau)

,Columna,Tipo de Dato,Valores Únicos,Total Valores,Valores Nulos
0,SK_ID_CURR,int64,305811,1716428,0
1,SK_ID_BUREAU,int64,1716428,1716428,0
2,CREDIT_ACTIVE,object,4,1716428,0
3,CREDIT_CURRENCY,object,4,1716428,0
4,DAYS_CREDIT,int64,2923,1716428,0
5,CREDIT_DAY_OVERDUE,int64,942,1716428,0
6,DAYS_CREDIT_ENDDATE,float64,14096,1610875,105553
7,DAYS_ENDDATE_FACT,float64,2917,1082775,633653
8,AMT_CREDIT_MAX_OVERDUE,float64,68251,591940,1124488
9,CNT_CREDIT_PROLONG,int64,10,1716428,0
10,AMT_CREDIT_SUM,float64,236708,1716415,13
11,AMT_CREDIT_SUM_DEBT,float64,226537,1458759,257669
12,AMT_CREDIT_SUM_LIMIT,float64,51726,1124648,591780
13,AMT_CREDIT_SUM_OVERDUE,float64,1616,1716428,0
14,CREDIT_TYPE,object,15,1716428,0
15,DAYS_CREDIT_UPDATE,int64,2982,1716428,0
16,AMT_ANNUITY,float64,40321,489637,1226791

In [9]:
obtener_resumen_valores_unicos(credit_card_balance)

,Columna,Tipo de Dato,Valores Únicos,Total Valores,Valores Nulos
0,SK_ID_PREV,int64,104307,3840312,0
1,SK_ID_CURR,int64,103558,3840312,0
2,MONTHS_BALANCE,int64,96,3840312,0
3,AMT_BALANCE,float64,1347904,3840312,0
4,AMT_CREDIT_LIMIT_ACTUAL,int64,181,3840312,0
5,AMT_DRAWINGS_ATM_CURRENT,float64,2267,3090496,749816
6,AMT_DRAWINGS_CURRENT,float64,187005,3840312,0
7,AMT_DRAWINGS_OTHER_CURRENT,float64,1832,3090496,749816
8,AMT_DRAWINGS_POS_CURRENT,float64,168748,3090496,749816
9,AMT_INST_MIN_REGULARITY,float64,312266,3535076,305236
10,AMT_PAYMENT_CURRENT,float64,163209,3072324,767988
11,AMT_PAYMENT_TOTAL_CURRENT,float64,182957,3840312,0
12,AMT_RECEIVABLE_PRINCIPAL,float64,1195839,3840312,0
13,AMT_RECIVABLE,float64,1338878,3840312,0
14,AMT_TOTAL_RECEIVABLE,float64,1339008,3840312,0
15,CNT_DRAWINGS_ATM_CURRENT,float64,44,3090496,749816
16,CNT_DRAWINGS_CURRENT,int64,129,3840312,0
17,CNT_DRAWINGS_OTHER_CURRENT,float64,11,3090496,749816
18,CNT_DRAWINGS_POS_CURRENT,float64,133,3090496,749816
19,CNT_INSTALMENT_MATURE_CUM,float64,121,3535076,305236
20,NAME_CONTRACT_STATUS,object,7,3840312,0
21,SK_DPD,int64,917,3840312,0
22,SK_DPD_DEF,int64,378,3840312,0

In [10]:
obtener_resumen_valores_unicos(HomeCredit)

       Columna Tipo de Dato  Valores Únicos  Total Valores  Valores Nulos
0   Unnamed: 0        int64             219            219              0
1        Table       object               7            219              0
2          Row       object             196            219              0
3  Description       object             163            219              0
4      Special       object               7             86            133

In [11]:
obtener_resumen_valores_unicos(installments_payment)

,Columna,Tipo de Dato,Valores Únicos,Total Valores,Valores Nulos
0,SK_ID_PREV,int64,997752,13605401,0
1,SK_ID_CURR,int64,339587,13605401,0
2,NUM_INSTALMENT_VERSION,float64,65,13605401,0
3,NUM_INSTALMENT_NUMBER,int64,277,13605401,0
4,DAYS_INSTALMENT,float64,2922,13605401,0
5,DAYS_ENTRY_PAYMENT,float64,3039,13602496,2905
6,AMT_INSTALMENT,float64,902539,13605401,0
7,AMT_PAYMENT,float64,944235,13602496,2905

In [12]:
obtener_resumen_valores_unicos(pos_cash_balance)

,Columna,Tipo de Dato,Valores Únicos,Total Valores,Valores Nulos
0,SK_ID_PREV,int64,936325,10001358,0
1,SK_ID_CURR,int64,337252,10001358,0
2,MONTHS_BALANCE,int64,96,10001358,0
3,CNT_INSTALMENT,float64,73,9975287,26071
4,CNT_INSTALMENT_FUTURE,float64,79,9975271,26087
5,NAME_CONTRACT_STATUS,object,9,10001358,0
6,SK_DPD,int64,3400,10001358,0
7,SK_DPD_DEF,int64,2307,10001358,0

In [13]:
obtener_resumen_valores_unicos(previous_application)

,Columna,Tipo de Dato,Valores Únicos,Total Valores,Valores Nulos
0,SK_ID_PREV,int64,1670214,1670214,0
1,SK_ID_CURR,int64,338857,1670214,0
2,NAME_CONTRACT_TYPE,object,4,1670214,0
3,AMT_ANNUITY,float64,357959,1297979,372235
4,AMT_APPLICATION,float64,93885,1670214,0
5,AMT_CREDIT,float64,86803,1670213,1
6,AMT_DOWN_PAYMENT,float64,29278,774370,895844
7,AMT_GOODS_PRICE,float64,93885,1284699,385515
8,WEEKDAY_APPR_PROCESS_START,object,7,1670214,0
9,HOUR_APPR_PROCESS_START,int64,24,1670214,0
10,FLAG_LAST_APPL_PER_CONTRACT,object,2,1670214,0
11,NFLAG_LAST_APPL_IN_DAY,int64,2,1670214,0
12,RATE_DOWN_PAYMENT,float64,207033,774370,895844
13,RATE_INTEREST_PRIMARY,float64,148,5951,1664263
14,RATE_INTEREST_PRIVILEGED,float64,25,5951,1664263
15,NAME_CASH_LOAN_PURPOSE,object,25,1670214,0
16,NAME_CONTRACT_STATUS,object,4,1670214,0
17,DAYS_DECISION,int64,2922,1670214,0
18,NAME_PAYMENT_TYPE,object,4,1670214,0
19,CODE_REJECT_REASON,object,9,1670214,0
20,NAME_TYPE_SUITE,object,7,849809,820405
21,NAME_CLIENT_TYPE,object,4,1670214,0
22,NAME_GOODS_CATEGORY,object,28,1670214,0
23,NAME_PORTFOLIO,object,5,1670214,0
24,NAME_PRODUCT_TYPE,object,3,1670214,0
25,CHANNEL_TYPE,object,8,1670214,0
26,SELLERPLACE_AREA,int64,2097,1670214,0
27,NAME_SELLER_INDUSTRY,object,11,1670214,0
28,CNT_PAYMENT,float64,49,1297984,372230
29,NAME_YIELD_GROUP,object,5,1670214,0
30,PRODUCT_COMBINATION,object,17,1669868,346
31,DAYS_FIRST_DRAWING,float64,2838,997149,673065
32,DAYS_FIRST_DUE,float64,2892,997149,673065
33,DAYS_LAST_DUE_1ST_VERSION,float64,4605,997149,673065
34,DAYS_LAST_DUE,float64,2873,997149,673065
35,DAYS_TERMINATION,float64,2830,997149,673065
36,NFLAG_INSURED_ON_APPROVAL,float64,2,997149,673065

In [16]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.